body {
    background-color: #F1E9FF;
}

h1  {
    text-align: center;
}

h2 {
    font-size: 30px;
}
select {
    width: 100%;
    display: block;
    border-radius: 4px;
    padding: 4px;
}


.container {
    background-color: rgb(255, 255, 252);
    width: 50%;
    max-width: 400px;
    padding: 30px;
    margin: 60px auto;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);;
}

.city {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    border-bottom: 2px rgb(183, 183, 183) dotted;
}

.time {
    font-size: 34px;
    font-weight: bold;
}

.time small {
    font-size: 18px;
    vertical-align: middle;
}
.date {
    font-size: 12px;
    opacity: 0.5;
}
footer {
    text-align: center;
}