body {
    background-color: #F1E9FF;
    color: #3e3349;
    
}

h1  {
    text-align: center;
    color: #8051d2;
    font-size: 40px;
}

h2 {
    font-size: 32px;
}
select {
    width: 100%;
    display: block;
    border-radius: 4px;
    padding: 4px;
    border-color: #803fef;
}

button {
    padding: 5px;
    background-color: #F1E9FF;
    border: #F1E9FF;
    border-radius: 5px;
}


.container {
    background-color: rgb(252, 252, 252);
    width: 50%;
    max-width: 400px;
    padding: 30px;
    margin: 60px auto;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);;
}

.city {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    border-bottom: 2px rgb(128, 63, 239, 0.7) dotted;
}

.city:last-child {
    border: none;
}

.time {
    font-size: 34px;
    font-weight: bold;
}

.time small {
    font-size: 18px;
    vertical-align: middle;
}
.date {
    font-size: 14px;
    opacity: 0.8;
}

a {
    font-size: 16px;
    color: #b68cff;
    text-decoration: none;
}

 a:hover {
    color: #803fef;
}

footer {
    text-align: center;
    font-size: 16px;
}